.title {
    font-weight: 600;
    font-size: 22px;
    margin: 20px;
    text-align: center;
}

.desc {
    font-weight: 400;
    font-size: 16px;
    margin-left: 20px;
    text-align: center;
}

.loaderContainer {
    margin-top: 33vh;
    display: flex;
    justify-content: center;
}

.smile {
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
    color:rgb(0, 164, 0);
    font-weight: bold;
}

.solutionContainer {
    position: absolute;
    top: 550px;
    left: -220px;
    width:640px;
    font-size:13px;
    padding: 12px;
}

.mentor {
    text-align: center;
    font-size: 11px;
    margin-top: 10px;
}

.content {
    width: 640px;
    height: 480px;
    padding: 12px;
    font-size:13px;
    left: -220px;
    top: 32px;
    position: absolute;
    background:transparent;
    z-index: 3;
    font-family: monospace;
    resize:none;
}

.input {
    position: relative;
}

.blockContainer {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.center {
    display: flex;
    justify-content: center;
}

.reset {
    padding: 5px;
    display: flex;
    justify-content: center;
}

.highlightBlock {
    width: 640px;
    max-width: 640px;
    height: 480px;
    margin: 20px;
    left: -240px;
    top: 12px;
    position: absolute;
    z-index: 3 ;
}