.homeContainer {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.loaderContainer {
    margin-top: 33vh;
    display: flex;
    justify-content: center;
}

.blocksContainer {
    margin: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 850px;
}

.title {
    display:flex;
    color: #3e3e3e;
    font-size: 24px;
    font-weight: 600;
    justify-content: center;
}

.subtitle {
    display:flex;
    margin-top: 10px;
    color: #4b4b4b;
    font-weight: 500;
    font-size: 16px;
    justify-content: center;
}